#searchBar {
  width: 600px;
  height: 32px;
  border: 1px solid #00000012;
  margin: 10px auto;
  img {
    padding: 0px 5px 0px 20px;
    vertical-align: middle;
  }
}
#modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  span {
    font-family: "SF Pro Text Light";
    font-size: 16px;
  }
  div {
    display: flex;
    gap: 10px;
  }
}
