.parent-grid-container {
  display: grid;
  cursor: default;
  grid-template-columns: max-content 30px max-content max-content max-content;
  width: fit-content;
  margin-top: 20px;
  align-items: center;
  #dragdots {
    cursor: grab;
    margin-right: 20px;
  }
  #disocunt-btn,
  #closeIcon {
    cursor: pointer;
    margin-left: 20px;
    vertical-align: middle;
  }
}
#child-grid-container {
  width: auto;
  justify-content: end;
}
.discountInput {
  border: 1px solid #00000012;
  width: 69px;
  box-shadow: 0px 2px 4px 0px #0000001a;
  &:focus-visible {
    outline: 2px solid #008060;
  }
}
#discount-fields {
  margin-left: 20px;
}
.variantDiscountInput {
  border: 1px solid #00000012;
  border-radius: 30px;
  padding-left: 15px;
  width: 69px;
  box-shadow: 0px 2px 4px 0px #0000001a;
  &:focus-visible {
    outline: 2px solid #008060;
  }
}
.variants-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  grid-column: 4 / 6;
}
#variant-button {
  display: flex;
  text-transform: none;
  font-family: "SF Pro Text Light";
  font-size: 12px;
  span {
    margin-right: 2px;
    color: #006eff;
    text-decoration: underline;
    line-height: 21px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  span,
  img {
    cursor: pointer;
  }
}
