#parent-checkbox-container {
  display: flex;
  /* margin-left: 20px; */
  flex-direction: row;
  padding: 10px 0px 10px 20px;
  img {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    margin: 0px 10px;
  }
}

#child-checkbox-container {
  display: flex;
  flex-direction: row;
  padding: 10px 30px 10px 60px;
  justify-content: space-between;
}
#item-info {
  span:first-child {
    padding-right: 40px;
  }
}

#loader-container {
  padding: 40px;
  text-align: center;
}
#checkbox-container {
  hr {
    margin: 0;
  }
}
.show-scroll {
  max-height: 420px;
  overflow-y: scroll;
}
.show-scroll::-webkit-scrollbar {
  width: 6px;
  border-radius: 1px;
}
.show-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.show-scroll::-webkit-scrollbar-thumb {
  background: #6d7175;
}

.show-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
