#parent-checkbox-container {
  display: flex;
  flex-direction: row;
  padding: 10px 0px 10px 30px;
  img {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    margin: 0px 10px;
  }
}

#child-checkbox-container {
  display: flex;
  flex-direction: row;
  padding: 10px 30px 10px 60px;
  justify-content: space-between;
}
#item-info {
  span:first-child {
    padding-right: 40px;
  }
}

#loader-container {
  padding: 40px;
  text-align: center;
}
#checkbox-container {
  hr {
    margin: 0;
  }
}
#modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  align-items: center;
  span {
    font-family: "SF Pro Text Light";
    font-size: 16px;
  }
  div {
    display: flex;
    gap: 10px;
  }
}

#product-wrapper {
  ::-webkit-scrollbar {
    width: 6px;
    height: 56px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #6d7175;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3e4042;
  }
}
